@charset "UTF-8";
/* Main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: "helvetica", sans-serif;
	background-color: #afcef8;
}

/*Styling af menu*/
#nav a{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 3%;
    text-decoration: none;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	font-size: medium;
}

#nav a:hover{
	background-color: #afcef8;
}

#nav{
	display: flex;
	width: 100%;
	text-align: center;
	margin: auto;
	border-bottom: red dashed thick;
	font-size: medium;
}

/*Styling af overskrifter*/
.placering-overskrift {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-collapse: separate;
	border-spacing: 10px;
}

.overskrift{
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*Styling af mit navn, under overskriften portfolio*/
#navn {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: x-large;
	margin-top: none;
	padding-top: none;
	width:100%;
	margin: auto; 
}

/*Den gule cirkel under overskrifterne*/
.gul1 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-left: 48.95%;
	margin-top: 2.5%;
}

/*kontakt/form styles*/
.kontaktform{
	width: 45%;
	margin: auto; 
	background-color: rgba(255,255,255,0.25);
	margin-top: 5%;
	padding-top: 5%; 
	padding-bottom: 5%; 
	margin-bottom: 5%;
	border: none;
}
input {
	width: 90%; 
	margin-right: auto;
	margin-left: auto; 
	padding-bottom: 2%; 
	padding-top: 2%;
	align-content: center;
	border: none;
	font-family: "helvetica", sans-serif; 
	font-size: medium;
}

textarea {
	width: 90%; 
	margin-right: auto;
	margin-left: auto; 
	padding-bottom: 3%; 
	padding-top: 3%;
	font-family: "helvetica", sans-serif; 
	font-size: medium;
	border: none; 
}

#sendknap {
	width: 20%;
	margin: auto !important;
	padding-bottom: 3%;
	padding-top: 3%;
	font-family: "helvetica", sans-serif; 
	font-size: medium;
}

/*styling af p og h2*/

p {
	margin-left: 12%;
	margin-top: 2.5%;
	font-family: "helvetica", sans-serif;
	margin-bottom: 12%;
}

h2 {
	margin-left: 12%;
	margin-top: 5%;
	font-family: "helvetica", sans-serif; 
	font-weight: normal;
	line-height: 150%;
}

/*gallery - projekter*/
.gallery { display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding-right: 15%;
	padding-left: 15%;
	position: relative;
	
}

/*gallery + hover*/
.image {
  display: block;
  height: auto;
}
.overlay {
	alignment-baseline: bottom;
	margin-top: 5%;
}
a.special {
	color: rgba(0,0,0,0.00);
}
a.special:hover {
  opacity: 1;
	position: relative;
	text-align: center;
	width: 100%;
	transition: .5s ease;
    color: white;
	text-decoration: none;
}
.gallery:hover .overlay {
  opacity: 1;
}

/*billeder og tekst*/
.billedeogtekst{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	margin-bottom: 12%;
}

.tekst{
	width: 30%;
	margin-left: 12%; 
	margin-top: 5%;
	line-height: 150%;
}
.billede {
	margin-right: 12%;
	margin-top: 5%; 
}

span {
	font-weight: bold;
}

/*billeder og tekst(speicial)*/
.tekstspecial{
	width: 40%;
	margin-left: 12%; 
	margin-top: 12%;
	line-height: 150%;
	margin-right: 12%;
}
.billedespecial {
	margin-top: 14%; 
	margin-right: 12%;
}

.billedeprototypemenu{
	margin-top: 10%;
	margin-right: 14%;
}