@charset "UTF-8";
/* Main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: "helvetica", sans-serif;
	background-color: #afcef8;
}

/*navigation styling af links/menu*/
#nav a{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 3%;
    text-decoration: none;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	font-size: medium;
}

#nav a:hover{
	background-color: #afcef8;
}

#nav{
	display: flex;
	width: 100%;
	text-align: center;
	margin: auto;
	border-bottom: red dashed thick;
	font-size: medium;
}

/*overskrift portfolio*/
#center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-collapse: separate;
	border-spacing: 10px;
	text-align: center;
}

.portfolio{
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*mit navn*/
#navn {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: x-large;
	margin-top: none;
	padding-top: none;
	margin-left: 36.7%;
}

/*gul m. portfolio*/
.gul1 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-left: 48.95%;
	margin-top: 2.5%;
}


/*overskrift for omkring*/
.placering-overskrift {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-collapse: separate;
	border-spacing: 10px;
}

.overskrift{
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*overskrift m. gul*/
.gul2 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-left: 48.95%;
	margin-top: 2.5%;
}

/*overskrift for kontakt*/
.placering-kontakt {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-collapse: separate;
	border-spacing: 10px;
}

.kontakt{
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*kontakt m. gul*/
.gul3 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-left: 48.95%;
	margin-top: 2.5%;
}

/*overskrift for projekter*/
.placering-projekter {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-collapse: separate;
	border-spacing: 10px;
}

.projekter{
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}


/*kontakt/form styles*/
form {
	max-width: 23%;
	align-content: center;
	margin-top: 2.5%;
	margin-left: 36%;
	border: none;
	padding: 30px;
	background-color: rgba(255,255,255,0.25);
	font-family: "helvetica", sans-serif;
	margin-bottom: 12%;

}

.textkontakt{
	width: 250%;
	display: block;
  	padding: 10%;
 	font-family: "helvetica", sans-serif; 
	font-size: small; 
	border: none;
}

.sendknap {
	width: 50%;
	margin-left: 23.5%;
	display: block;
  	padding: 5%;
 	font-family: "helvetica", sans-serif; 
	font-size: small; 
	border: none;
}

p {
	margin-left: 12%;
	margin-top: 2.5%;
	font-family: "helvetica", sans-serif;
	width: 26%;
	margin-bottom: 12%;
}

h2 {
	margin-left: 12%;
	margin-top: 5%;
	font-family: "helvetica", sans-serif; 
	width: 26%;
	font-weight: normal;
}

/*billeder første række*/
#gallery { display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding-right: 15%;
	padding-left: 15%;
	position: relative;
	
}

/*billeder anden række*/
#gallery2 { display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding-right: 15%;
	padding-left: 15%;
	
}

/*billeder anden række*/
#gallery3 { display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding-right: 15%;
	padding-left: 15%;
}

/*generelt hover*/
.image {
  display: block;
  height: auto;
}
.overlay {
	alignment-baseline: bottom;
	margin-top: 5%;
}
a.special {
	color: rgba(0,0,0,0.00);
}
a.special:hover {
  opacity: 1;
	position: relative;
	text-align: center;
	width: 100%;
	transition: .5s ease;
    opacity:0;
    color: white;
	text-decoration: none;
}
.gallery:hover .overlay {
  opacity: 1;
}

/*plakat siden*/
.plakat {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding:0;
	vertical-align: middle;
}