@charset "UTF-8";
/* Main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: "helvetica", sans-serif;
	background-color: #afcef8;
}
/*navigation styling af links/menu*/
#nav a{
	display: inline-block;
    color: white;
    text-align: center;
    padding: 3%;
    text-decoration: none;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.25);
}

#nav a:hover{
	background-color: #afcef8;
}

#nav{
	display: flex;
	width: 100%;
	text-align: center;
	margin: auto;
	border-bottom: red dashed thick;
}

/*Portfolio - overskift*/
table.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	border-collapse: separate;
	border-spacing: 10px;
}
.portfolio {
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}
